[submodule "themes/hugo-uilite"]
	path = themes/hugo-uilite
	url = https://github.com/uicardiodev/hugo-uilite
[submodule "public"]
	path = public
	url = git@github.com:kevinmmartins/kevinmmartins.github.io.git
	branch = master
